<div class="col-md-3">
    <div class="panel panel-primary">
        <div class="panel-heading">Create Board</div>
        <div [ngClass]="" class="panel-body">
          <form> 
            <div class="form-group">
              <label for="">Board Title</label>
              <input type="text" name="board.id" [(ngModel)]="board.title" class="form-control">
              <button type="submit" (click)="createBoard()" class="btn btn-primary">Create</button>
            </div>
          </form>
        </div>
    </div>
</div>
<div *ngFor="let board of boards" class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">{{board.title}}</div>
      <div class="panel-body"></div>
    </div>
</div>